/* src/components/Login/Login.css */

.login-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center; /* Center align the content */
}

.login-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-container input {
  width: calc(100% - 40px); /* Subtract padding from width */
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-container input:focus {
  outline: none;
  border-color: #007bff;
}

.login-container button {
  width: calc(100% - 40px);
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: #0056b3;
}
